GEMINI_API_KEY=AQ.Ab8RN6IbEm9N8hydrooOgQL1fZ-y-1i7nE8kZAv21PdDyGxSIg
GEMINI_MODEL=gemini-3.8-flash
GROQ_API_KEY=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
GROQ_MODEL_SMALL=llama-3.1-8b-instant
GROQ_MODEL_LARGE=llama-3.3-70b-versatile
